* {
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: white;
}

body {
  background-image: url(https://ak3.picdn.net/shutterstock/videos/3914753/thumb/1.jpg);
}

#toHide {
  display: none;
}

#websiteContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #254b00;
  border: 5px solid #7cfc00;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}
