/* dark green 2BA84A */
/* light green #6FC685 */
/* black #040F04 */
/* grey #586666
light grey A2BCBC */

* {
  text-align: left;
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: white;
}

body {
  background-image: url('./../images/background.png');
  background-repeat: repeat;
  overflow-y: scroll;
}

.toHide {
  display: none;
}

.container {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  width: 80px;
  color: white;
  background-color: #586666;
  border: 0;
  margin-left: 10px;
}

.btn:hover {
  background-color: #6FC685;
}

h3 {
  line-height: .75;
}

#websiteContent {
  margin-left: 10px;
  width: 400px;
  /* margin-top: 10px; */
  margin-bottom: 30px;
  position: fixed;
  left: 550px;
}

#imageContent {
  position: fixed;
  left: 150px;
}

#setWording {
  margin-bottom: 10px;
}

.boxes {
  background-color: #2BA84A;
  border: 3px solid #6FC685;
  padding: 20px;
  width: 400px;
}

#visitorInput {
  width: 75%;
}

ul {
  list-style: none;
}

h4 {
  line-height: 1.25;
  font-size: 20px;
}

.finalOutput {
  max-height: 170px;
  overflow-y: scroll;
}
